/* ~ 500px */

@media (max-width: 500px) {
  .container {
    padding-top: 32px;
  }

  .up {
  	right: 32px;
  	bottom: 56px;
  }

  .up img {
  	width: 30px;
  	height: auto;
  }

  .contents_container {
    grid-gap: 8px;
  }

  header {
    padding: 0px 24px 0px 24px;
    height:40px;
  }

  header img {
  	top: 13px;
  	width: 70px;
  }

  header ul > li {
  	font-size: 12px;
  }

  body {
    padding-top: 40px;
  }

  #body {
    padding: 0px 24px 32px 24px;
  }

  h1 {
    font-size: 24px;
    line-height: 35px;
  }

  h2 {
    font-size: 14px;
    line-height: 38px;
  }

  .title_container {
    height: 200px;
  }

  .text {
    width: 300px;
    font-size: 14px;
    line-height: 22px;
  }


  #footer {
    height: 24px;
  }

  #footer_page {
    height: 24px;
  }

  #footer_page_dark {
    height: 24px;
  }

  .footer_text {
    font-size: 10px;
    padding: 6px;
  }

  .footer_text_dark {
    font-size: 10px;
    padding: 6px;
  }

  .main-container {
    margin: 0 auto -24px;
  }

  .push {
    height: 24px;
  }
}
