.main_container {
  padding-bottom: 64px;
}

.contents_container {
  display: grid;
  grid-gap: 24px;
}

.text {
  width: 500px;
  line-height: 30px;
}

.text p {
  white-space: pre-line;
}

.per {
  opacity: 40%;
  font-size: 14px;
}

.image_container > img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.grid_image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

#one_line {
  display: none;
}
