#footer {
  height: 32px;
  background-color: var(--Base_footer);
  text-align: center;
}

#footer_page {
  height: 32px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

#footer_page_dark {
  height: 32px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer_text {
  font-size: 12px;
  padding: 10px;
  color: var(--Gray_80);
}

.footer_text_dark {
  font-size: 12px;
  padding: 10px;
  color: white;
}

html, body {
  height: 100%;
}

.main-container {
  min-height: 100%;
  margin: 0 auto -32px;
}

.push {
  height: 32px;
}
