/* 756px ~ 1131px */

@media (min-width: 756px) and (max-width: 1131px) {
  .up {
  	right:80px;
  }

  header {
    padding: 0px 70px 0px 70px;
  }

  #body {
    padding: 0px 70px 32px 70px;
  }

  .thumbnails {
    grid-template-columns: auto auto;
  }

  .info_contents_element p {
    display: block;
    padding-bottom: 8px;
  }

  h2 {
    font-size: 40px;
  }

  h1 {
    font-size: 64px;
    line-height: 88px;
  }

  .title_container {
    height: 300px;
  }
}
