/* ~ 755px */

@media (max-width: 755px) {
  .up {
  	right:32px;
  	bottom:56px;
  }

  .up img {
  	width: 40px;
  	height: auto;
  }


  header {
    padding: 0px 24px 0px 24px;
    height:40px;
  }

  header img {
  	top: 12px;
  	width: 80px;
  }

  header ul > li {
  	font-size:14px;
  }

  body {
    padding-top: 40px;
  }

  #body {
    padding: 0px 24px 32px 24px;
  }

  .thumbnails {
    grid-template-columns: auto;
    padding: 32px 0px 40px 0px;
    grid-gap: 24px;
  }

  .info_contents_element p {
    display: block;
    padding-bottom: 8px;
    font-size: 16px;
  }

  .thumbnail_wrapper {
    width: 452px;
    height: 520px;
  }

  .thumbnail {
    width: 418px;
    height: 377px;
  }

  .thumbnail_hover {
    width: 418px;
    height: 377px;
  }

  .hide {
    display:inherit;
  }

  .hide_2 {
    line-height: 26px;
  }

  .info_contents {
    grid-column-gap: 24px;
    grid-template-columns: 1fr 2fr;
  }

  h3 {
    width: 168px;
  }

  h2 {
    font-size: 32px;
  }

  h1 {
    font-size: 56px;
    line-height: 80px;
  }

  .title_container {
    height: 280px;
  }
}
