@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');

/*.main-container {
  margin: auto;
  display: grid;
  gap: 0px;
}*/

h2 {
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  letter-spacing: 0.2em;
}

h1 {
  font-style: normal;
  font-weight: 100;
  font-size: 72px;
  line-height: 100px;
  letter-spacing: 0.2em;
}

.title_container {
  height: 350px;
  display: table;
}

.title_text {
  display: table-cell;
  vertical-align: middle;
}
